body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  rgb(185, 220, 250);
}

.header{
    font-size:large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 40px;
}

.gif_content{
    display:flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: 250px;
}